# Microchip MEC5 HAL based input capture compare timer as a tachometer sensor

# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config TACH_MEC5_CCT
	bool "Microchip MEC5 HAL based CCT Tachometer sensor"
	default y
	depends on DT_HAS_MICROCHIP_MEC5_TACH_CCT_ENABLED
	depends on SOC_FAMILY_MICROCHIP_MEC
	depends on HAS_MEC5_HAL
	select PINCTRL
	help
	  Enable the Microchip MEC5 HAL based tachometer sensor.

if TACH_MEC5_CCT

config TACH_MEC5_CCT_INTERRUPT
	bool "Microchip MEC5 TACH CCT driver use interrupt"
	default n
	help
	  Enable the MCHP MEC5 TACH CCT driver to use interrupts
	  instead of a polling loop.

endif # TACH_MEC5_CCT
