# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig FLASH_MCHP_MEC5_QSPI_NOR
	bool "Microchip MEC5 QSPI flash controller driver for SPI NOR flashes"
	default y
	depends on DT_HAS_MICROCHIP_MEC5_QSPI_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_JESD216
	select PINCTRL
	help
	  Enable this option to use the Microchip MEC5 QSPI flash controller driver.

# depends on DT_HAS_MICROCHIP_MEC5_QSPI_CTRL_ENABLED
# depends on DT_HAS_MICROCHIP_MEC5_QSPI_FC_ENABLED
# select FLASH_HAS_PAGE_LAYOUT
# select FLASH_JESD216
