# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config MCHP_MEC5_I2C_NL
	bool "Microchip MEC5 I2C Network Layer driver using direct HAL DMA"
	default y
	depends on DT_HAS_MICROCHIP_MEC5_I2C_NL_ENABLED
	select EVENTS
	select DMA
	help
	  Enable this option to use the Microchip MEC5 I2C with Network Layer
	  plus DMA provided by the Zephyr DMA driver.
